{{ header }}
<div id="product-category" class="container stampik-category">
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
      {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
      {% set class = 'col-sm-9' %}
    {% else %}
      {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      {% if description %}
        <div class="row">
          <div class="col-sm-10">
            {{ description }}
          </div>
        </div>
      {% endif %}
      {% if categories %}
        <div class="stampik-category__content">
          <ul class="stampik-category__content_list">
            {% for category in categories %}
              <li>
                <a href="{{ category.href }}">
                  <img src="image/{{ category.image }}" alt="{{ category.name }}" />
                  <span>{{ category.name }}</span>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      {% if products and not description %}
        <div class="stampik-product__list">
          {% for product in products %}
            <div class="stampik-product__list_item">
              <a href="{{ product.href }}">
                <span class="item-wrapper">
                  <span class="img-wrapper">
                    <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" />
                  </span>

                  {% if product.price %}
                    <p class="price">
                      {% if not product.special %}
                        {{ product.price|trim('.') }}
                      {% else %}
                        <span class="price-new">{{ product.special|trim('.') }}</span> <span class="price-old">{{ product.price|trim('.') }}</span>
                      {% endif %}
                    </p>
                  {% endif %}
                </span>
                <p class="add">Заказать</p>
              </a>
            </div>
          {% endfor %}
        </div>

        <div class="stampik__pagination">
          <div class="row">
            <div class="col-sm-6 text-left">{{ pagination }}</div>
            <div class="col-sm-6 text-right">{{ results }}</div>
          </div>
        </div>
      {% endif %}

      {% if not categories and not products %}
        <p>{{ text_empty }}</p>
        <div class="buttons">
          <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
        </div>
      {% endif %}
      {{ content_bottom }}
    </div>
    {{ column_right }}
  </div>
</div>
{{ footer }} 
