{{ header }}
<div id="product-product" class="container stampik-product__product">
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <!-- BOF Related Options -->
    <div id="content" class="{{ class }} product-info">{{ content_top }}
    <!-- EOF Related Options -->
      <div class="row"> {% if column_left or column_right %}
        {% set class = 'col-sm-6' %}
        {% else %}
        {% set class = 'col-sm-4' %}
        {% endif %}
        <div class="{{ class }}">
          {% if thumb or images %}
            <ul class="thumbnails list-unstyled">
              {% if thumb %}
                <li><a class="thumbnail" href="{{ popup }}" title="{{ heading_title }}"><img src="{{ thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" /></a></li>
              {% endif %}
              {% if images %}
                {% for image in images %}
                  <li class="image-additional"><a class="thumbnail" href="{{ image.popup }}" title="{{ heading_title }}"> <img src="{{ image.thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" /></a></li>
                {% endfor %}
              {% endif %}
            </ul>
          {% endif %}
        </div>
        {% if column_left or column_right %}
        {% set class = 'col-sm-6' %}
        {% else %}
        {% set class = 'col-sm-8' %}
        {% endif %}
        <div class="{{ class }}">
          <hr>
          <h1>{{ heading_title }}</h1>
          <ul class="list-unstyled">
            {% if manufacturer %}
            <li>{{ text_manufacturer }} <a href="{{ manufacturers }}">{{ manufacturer }}</a></li>
            {% endif %}
            <li>{{ text_model }} {{ model }}</li>
            {% if reward %}
            <li>{{ text_reward }} {{ reward }}</li>
            {% endif %}
          </ul>

          <ul class="list-unstyled">
            {% if description %}
              <li>{{ description }}</li>
            {% endif %}
          </ul>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-12">
          <div id="product">
            {% if options %}

            <!-- BOF Related Options -->
            <div class="options">
            <!-- EOF Related Options -->

              {% for option in options %}

                {% if option.type == 'select' %}
                  <!--BOF Related Options-->
                  <div class="form-group{% if option.required %} required {% endif %} option" master-option="{{ option.master_option }}" option="{{ option.option_id }}" id="option-{{ option.product_option_id }}">
                  <!--EOF Related Options-->

                    <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                    <select name="option[{{ option.product_option_id }}]" id="input-option{{ option.product_option_id }}" class="form-control">
                      <option value="">{{ text_select }}</option>
                      {% for option_value in option.product_option_value %}
                        <!--BOF Related Options-->
                        <option value="{{ option_value.product_option_value_id }}" master-option-value="{{ option_value.master_option_value }}" option-value="{{option_value.product_option_value_id }}" {% if RDO_status and RDO_settings.buy_out_of_stock == 0 and option_value.quantity is defined and option_value.quantity <= 0 %} disabled {% endif %}> {{ option_value.name }}
                        <!--EOF Related Options-->
                          {% if option_value.price %}
                            <!--BOF Related Options-->
                            <span>({{ option_value.price_prefix }}{{ option_value.price }})</span>
                            <!--EOF Related Options-->
                          {% endif %} </option>
                      {% endfor %}
                    </select>
                  </div>
                  <hr>
                {% endif %}

                {% if option.type == 'radio' %}
                  <!--BOF Related Options-->
                  <div class="form-group{% if option.required %} required {% endif %} option stampik-product__product_radio-option" master-option="{{ option.master_option }}" option="{{ option.option_id }}" id="option-{{ option.product_option_id }}">
                  <!--EOF Related Options-->

                    <label class="control-label">{{ option.name }}</label>
                    <div id="input-option{{ option.product_option_id }}" class="stampik-product__product_radio-option_wrapper">
                      {% for option_value in option.product_option_value %}
                        <div class="radio">

                          <!--BOF Related Options-->
                          <label for="option-value-{{ option_value.product_option_value_id }}" class="{% if option_value.image %}option-label-with-img{% else %}option-label{% endif %}" data-popup-img="{{ option_value.thumb_popup }}">
                          <!--EOF Related Options-->

                          <!--BOF Related Options-->
                          <input type="radio" name="option[{{ option.product_option_id }}]" {% if option.name == 'Тип корпуса' %}data-option-name="{{ option_value.name }}"{% endif %} value="{{ option_value.product_option_value_id }}" {% if option_value.price %} data-option-value="{{ option_value.price }}" data-option-prefix="{{ option_value.price_prefix }}" {% endif %} id="option-value-{{ option_value.product_option_value_id }}" master-option-value="{{ option_value.master_option_value }}" option-value="{{option_value.product_option_value_id }}" {% if RDO_status and RDO_settings.buy_out_of_stock == 0 and option_value.quantity is defined and option_value.quantity <= 0 %} disabled {% endif %} />
                          <!--EOF Related Options-->

                          {% if option_value.image %}
                            <span class="img-wrapper">
                              <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" />
                            </span>
                          {% else %}
                            <span class="option-text">
                              {{ option_value.name }}
                              {% if option_value.price %}
                                <!--BOF Related Options-->
                                <span>({{ option_value.price_prefix }}{{ option_value.price }})</span>
                                <!--EOF Related Options-->
                              {% endif %}
                            </span>
                          {% endif %}

                          </label>
                        </div>
                      {% endfor %}
                    </div>

                    {% if option.name == 'Тип корпуса' %}
                      {% for option_value in option.product_option_value %}
                      <div class="extended-img" id="{{ option_value.name }}">
                        <img src="catalog/view/theme/stampik/image/options_images/{{ option_value.name }}.jpg" alt="{{ option_value.name }}"/>
                      </div>
                      {% endfor %}
                      <script>
                        <!--
                        $(document).ready(function () {
                          $('input[data-option-name]').change(function (e) {
                            var data_option_name = $('input[data-option-name]:checked').attr('data-option-name');
                            $('.extended-img').removeClass('active');
                            $('#' + data_option_name).addClass('active');
                          });
                        });
                        -->
                      </script>
                    {% endif %}

                  </div>
                  <hr>
                {% endif %}

                {% if option.type == 'checkbox' %}
                  <!--BOF Related Options-->
                  <div class="form-group{% if option.required %} required {% endif %} option" master-option="{{ option.master_option }}"  option="{{ option.option_id }}" id="option-{{ option.product_option_id }}">
                  <!--EOF Related Options-->
                    <label class="control-label">{{ option.name }}</label>
                    <div id="input-option{{ option.product_option_id }}">
                      {% for option_value in option.product_option_value %}
                        <div class="checkbox">
                          <!--BOF Related Options-->
                          <label for="option-value-{{ option_value.product_option_value_id }}">
                          <!--EOF Related Options-->
                            <!--BOF Related Options-->
                            <input type="checkbox" name="option[{{ option.product_option_id }}][]" value="{{ option_value.product_option_value_id }}" id="option-value-{{ option_value.product_option_value_id }}" master-option-value="{{ option_value.master_option_value }}" option-value="{{option_value.product_option_value_id }}" {% if RDO_status and RDO_settings.buy_out_of_stock == 0 and option_value.quantity is defined and option_value.quantity <= 0 %} disabled {% endif %} />
                            <!--EOF Related Options-->
                            {% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" /> {% endif %}
                            {{ option_value.name }}
                            {% if option_value.price %}
                              <!--BOF Related Options-->
                              <span>({{ option_value.price_prefix }}{{ option_value.price }})</span>
                              <!--EOF Related Options-->
                            {% endif %} </label>
                        </div>
                      {% endfor %} </div>
                  </div>
                  <hr>
                {% endif %}

                {% if option.type == 'textarea' %}
                  <!--BOF Related Options-->
                  <div class="form-group{% if option.required %} required {% endif %} option" master-option="{{ option.master_option }}" option="{{ option.option_id }}" id="option-{{ option.product_option_id }}">
                  <!--EOF Related Options-->
                    <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                    <!--BOF Related Options-->
                    <textarea name="option[{{ option.product_option_id }}]" rows="5" master-option-value="{{ option.master_option_value }}" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control" {% if RDO_status and RDO_settings.buy_out_of_stock == 0 and option_value.quantity is defined and option_value.quantity <= 0 %} disabled {% endif %}>{{ option.value }}</textarea>
                    <!--EOF Related Options-->
                  </div>
                  <hr>
                {% endif %}

                {% if option.type == 'date' %}
                  <!--BOF Related Options-->
                  <div class="form-group{% if option.required %} required {% endif %} option" master-option="{{ option.master_option }}" option="{{ option.option_id }}" id="option-{{ option.product_option_id }}">
                  <!--EOF Related Options-->
                    <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                    <div class="input-group date">
                      <!--BOF Related Options-->
                      <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD" id="input-option{{ option.product_option_id }}" class="form-control" master-option-value="{{ option.master_option_value }}" {% if RDO_status and RDO_settings.buy_out_of_stock == 0 and option_value.quantity is defined and option_value.quantity <= 0 %} disabled {% endif %} />
                      <!--EOF Related Options-->
                      <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                </span></div>
                  </div>
                  <hr>
                {% endif %}

                {% if option.type == 'datetime' %}
                  <!--BOF Related Options-->
                  <div class="form-group{% if option.required %} required {% endif %} option" master-option="{{ option.master_option }}" option="{{ option.option_id }}" id="option-{{ option.product_option_id }}">
                  <!--EOF Related Options-->
                    <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                    <div class="input-group datetime">
                      <!--BOF Related Options-->
                      <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD HH:mm" id="input-option{{ option.product_option_id }}" master-option-value="{{ option.master_option_value }}" class="form-control" {% if RDO_status and RDO_settings.buy_out_of_stock == 0 and option_value.quantity is defined and option-value.quantity <= 0 %} disabled {% endif %} />
                      <!--EOF Related Options-->
                      <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span></div>
                  </div>
                  <hr>
                {% endif %}

                {% if option.type == 'time' %}
                  <!--BOF Related Options-->
                  <div class="form-group{% if option.required %} required {% endif %} option" master-option="{{ option.master_option }}" option="{{ option.option_id }}" id="option-{{ option.product_option_id }}">
                  <!--EOF Related Options-->
                    <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                    <div class="input-group time">
                      <!--BOF Related Options-->
                      <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="HH:mm" id="input-option{{ option.product_option_id }}" master-option-value="{{ option.master_option_value }}" class="form-control" {% if RDO_status and RDO_settings.buy_out_of_stock == 0 and option_value.quantity is defined and option_value.quantity <= 0 %} disabled {% endif %} />
                      <!--EOF Related Options-->
                      <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span></div>
                  </div>
                  <hr>
                {% endif %}

              {% endfor %}


            <!-- BOF Related Options -->
            </div>
            <!-- EOF Related Options -->
            {% endif %}

{#            {% if recurrings %}#}
{#              <h3>{{ text_payment_recurring }}</h3>#}
{#              <div class="form-group required">#}
{#                <select name="recurring_id" class="form-control">#}
{#                  <option value="">{{ text_select }}</option>#}
{#                  {% for recurring in recurrings %}#}
{#                    <option value="{{ recurring.recurring_id }}">{{ recurring.name }}</option>#}
{#                  {% endfor %}#}
{#                </select>#}
{#                <div class="help-block" id="recurring-description"></div>#}
{#              </div>#}
{#              <hr>#}
{#            {% endif %}#}

            <div class="form-group stampik-product__product_total-price">
              <div class="stampik-product__product_total-price_wrapper">
                <h3>{{ to_payment }}</h3><h2><span></span> грн.</h2>
              </div>
            </div>
            <hr>

            {% if options %}
            <!-- BOF Related Options -->
            <div class="options">
            <!-- EOF Related Options -->

              <div class="stampik-product__product_bottom-table">
              {% for option in options %}
                {% if option and option.type == 'text' %}
                  <!--BOF Related Options-->
                  <div class="form-group{% if option.required %} required {% endif %} option" master-option="{{ option.master_option }}" option="{{ option.option_id }}" id="option-{{ option.product_option_id }}">
                  <!--EOF Related Options-->
                    <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                    <div class="input-wrapper">
                      <!--BOF Related Options-->
                      <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control" master-option-value="{{ option.master_option_value }}" {% if RDO_status and RDO_settings.buy_out_of_stock == 0 and option_value.quantity is defined and option_value.quantity <= 0 %} disabled {% endif %} />
                      <!--EOF Related Options-->
                    </div>
                  </div>
                {% endif %}

                {% if option and option.type == 'file' %}
                  <!--BOF Related Options-->
                  <div class="form-group{% if option.required %} required {% endif %} option" master-option="{{ option.master_option }}" option="{{ option.option_id }}" id="option-{{ option.product_option_id }}">
                  <!--EOF Related Options-->
                    <label class="control-label control-label-file">{{ option.name }}</label>
                    <div class="button-wrapper">
                      <div>

                        <!--BOF Related Options-->
                        <button type="button" id="button-upload{{ option.product_option_id }}" data-loading-text="{{ text_loading }}" class="btn btn-default btn-block" master-option-value="{{ option.master_option_value }}" {% if RDO_status and RDO_settings.buy_out_of_stock == 0 and option_value.quantity is defined and option_value.quantity <= 0 %} disabled {% endif %}>{{ button_upload }} <img src="catalog/view/theme/stampik/image/pic_2.svg" alt="add_file" /></button>
                        <!--EOF Related Options-->

                        <input type="hidden" name="option[{{ option.product_option_id }}]" value="" id="input-option{{ option.product_option_id }}" />
                      </div>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
              </div>
            <!-- BOF Related Options -->
            </div>
            <!-- EOF Related Options -->
            {% endif %}

            <div class="stampik-product__product_input-quantity">
              <div class="form-group">
                <label class="control-label" for="input-quantity">{{ entry_qty }}</label>
                <div class="input-wrapper">
                  <input type="text" name="quantity" value="{{ minimum }}" size="2" id="input-quantity" class="form-control" />
                  <input type="hidden" name="product_id" value="{{ product_id }}" />
                </div>
              </div>
            </div>

            <button type="button" id="button-cart" data-loading-text="{{ text_loading }}" class="btn btn-primary btn-lg btn-block">{{ button_cart }}</button>

            {% if minimum > 1 %}
              <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ text_minimum }}</div>
            {% endif %}
          </div>
        </div>
      </div>

      {% if products %}
      <div class="row">
        <div class="col-sm-12">
          <hr>
          <h3>{{ text_related }}</h3>
          <div class="stampik-product__product_recommended">
            {% for product in products %}
              <div class="stampik-product__product_recommended_item">
                <div class="product-thumb">
                  <div class="image">
                    <a href="{{ product.href }}">
                      <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" />
                    </a>
                    {% if product.price %}
                      <p class="price">
                        {% if not product.special %}
                          {{ product.price }}
                        {% else %}
                          <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
                        {% endif %}
                      </p>
                    {% endif %}
                  </div>
                  <div class="button-wrapper">
                    <button type="button" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');">
                      {{ button_cart }}
                    </button>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          <hr>
        </div>
      </div>
      {% endif %}

      {% if tags %}
        <p>{{ text_tags }}
        {% for i in 0..tags|length %}
        {% if i < (tags|length - 1) %} <a href="{{ tags[i].href }}">{{ tags[i].tag }}</a>,
        {% else %} <a href="{{ tags[i].href }}">{{ tags[i].tag }}</a> {% endif %}
        {% endfor %} </p>
      {% endif %}
      {{ content_bottom }}
    </div>
    {{ column_right }}
  </div>
</div>
<script type="text/javascript"><!--
$('select[name=\'recurring_id\'], input[name="quantity"]').change(function(){
	$.ajax({
		url: 'index.php?route=product/product/getRecurringDescription',
		type: 'post',
		data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
		dataType: 'json',
		beforeSend: function() {
			$('#recurring-description').html('');
		},
		success: function(json) {
			$('.alert-dismissible, .text-danger').remove();

			if (json['success']) {
				$('#recurring-description').html(json['success']);
			}
		}
	});
});
//--></script> 
<script type="text/javascript"><!--
$('#button-cart').on('click', function() {
	$.ajax({
		url: 'index.php?route=checkout/cart/add',
		type: 'post',
		data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
		dataType: 'json',
		beforeSend: function() {
			$('#button-cart').button('loading');
		},
		complete: function() {
			$('#button-cart').button('reset');
		},
		success: function(json) {
			$('.alert-dismissible, .text-danger').remove();
			$('.form-group').removeClass('has-error');

			if (json['error']) {
				if (json['error']['option']) {
					for (i in json['error']['option']) {
						var element = $('#input-option' + i.replace('_', '-'));

						if (element.parent().hasClass('input-group')) {
							element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						} else {
							element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						}
					}
				}

				if (json['error']['recurring']) {
					$('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
				}

				// Highlight any found errors
				$('.text-danger').parent().addClass('has-error');
			}

			if (json['success']) {
				$('.breadcrumb').after('<div class="alert alert-success alert-dismissible">' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

				// $('#cart > button').html('<span id="cart-total"><i class="fa fa-shopping-cart"></i> ' + json['total'] + '</span>');

				$('html, body').animate({ scrollTop: 0 }, 'slow');

				$('#cart > ul').load('index.php?route=common/cart/info ul li');
			}
		},
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
	});
});
//--></script> 
<script type="text/javascript"><!--
$('.date').datetimepicker({
	language: '{{ datepicker }}',
	pickTime: false
});

$('.datetime').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: true,
	pickTime: true
});

$('.time').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: false
});

$('button[id^=\'button-upload\']').on('click', function() {
	var node = this;

	$('#form-upload').remove();

	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

	$('#form-upload input[name=\'file\']').trigger('click');

	if (typeof timer != 'undefined') {
    	clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);

			$.ajax({
				url: 'index.php?route=tool/upload',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$(node).button('loading');
				},
				complete: function() {
					$(node).button('reset');
				},
				success: function(json) {
					$('.text-danger').remove();

					if (json['error']) {
						$(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
					}

					if (json['success']) {
						alert(json['success']);

						$(node).parent().find('input').val(json['code']);
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});
//--></script> 
<script type="text/javascript"><!--
$('#review').delegate('.pagination a', 'click', function(e) {
    e.preventDefault();

    $('#review').fadeOut('slow');

    $('#review').load(this.href);

    $('#review').fadeIn('slow');
});

$('#review').load('index.php?route=product/product/review&product_id={{ product_id }}');

$('#button-review').on('click', function() {
	$.ajax({
		url: 'index.php?route=product/product/write&product_id={{ product_id }}',
		type: 'post',
		dataType: 'json',
		data: $("#form-review").serialize(),
		beforeSend: function() {
			$('#button-review').button('loading');
		},
		complete: function() {
			$('#button-review').button('reset');
		},
		success: function(json) {
			$('.alert-dismissible').remove();

			if (json['error']) {
				$('#review').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
			}

			if (json['success']) {
				$('#review').after('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

				$('input[name=\'name\']').val('');
				$('textarea[name=\'text\']').val('');
				$('input[name=\'rating\']:checked').prop('checked', false);
			}
		}
	});
});

$(document).ready(function() {
	$('.thumbnails').magnificPopup({
		type:'image',
		delegate: 'a',
		gallery: {
			enabled: true
		}
	});
  $('.stampik-product__product .stampik-product__product_radio-option .stampik-product__product_radio-option_wrapper .radio label.option-label-with-img').click(function () {
    var url_to_img = $(this).attr('data-popup-img');

    $.magnificPopup.open({
      items: {
        src: url_to_img
      },
      type: 'image'
    }, 0);
  });
});
//--></script>
<script>
  var stampik_price = +'{{ price_amount|e('js') }}';
  var stampik_special = +'{{ special_amount|e('js') }}';
  var stampik_total_price = 0;

  var stampik_qty = +$('#input-quantity').val();

  if (stampik_price) {
    if (!stampik_special) {
      stampik_total_price = stampik_price * stampik_qty;
      $('.stampik-product__product_total-price h2 span').text(stampik_price);
    } else {
      stampik_total_price = stampik_special * stampik_qty;
      $('.stampik-product__product_total-price h2 span').text(stampik_special);
    }
  }
  
  $('input').change(function () {
    var diff = 0;
    $('input:checked').each(function() {
      if ($(this).attr('data-option-prefix') && $(this).attr('data-option-prefix') === '+') {
        diff = diff + Number($(this).attr('data-option-value') ? $(this).attr('data-option-value').match(/^[0-9]+/)[0] : 0);
      } else if ($(this).attr('data-option-prefix') && $(this).attr('data-option-prefix') === '-') {
        diff = diff - Number($(this).attr('data-option-value') ? $(this).attr('data-option-value').match(/^[0-9]+/)[0] : 0);
      }
    });
    $('.stampik-product__product_total-price h2 span').text((stampik_total_price + diff) * $('#input-quantity').val());
  });

  (function($) {
    $.fn.inputFilter = function(inputFilter) {
      return this.on('input keydown keyup mousedown mouseup select contextmenu drop', function() {
        if (inputFilter(this.value)) {
          this.oldValue = this.value;
          this.oldSelectionStart = this.selectionStart;
          this.oldSelectionEnd = this.selectionEnd;
        } else if (this.hasOwnProperty('oldValue')) {
          this.value = this.oldValue;
          this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
        }
      });
    };
  }(jQuery));

  $("#input-quantity").inputFilter(function(value) {
    return +/^\d*$/.test(value);
  });

</script>
  {% if RDO_status %}
    <!--BOF Related Options-->
    <script type="text/javascript"> <!--
      $(document).ready(function() {

        //start first block

        $('.option[master-option!=0]').hide();

        // For smooth slideUp/slideDown animation
        $('div.option, span.option-value').each(function() {
          $(this).css({
            WebkitTransition : 'none',
            MozTransition    : 'none',
            MsTransition     : 'none',
            OTransition      : 'none',
            transition       : 'none'
          });
        });

        // SELECT OPTION
        $('.option select').on('change', updateSelectOption);

        // RADIO OPTION
        $('.option input[type=radio]').on('change', updateRadioOption);

        // CHECKBOX OPTION
        $('.option input[type=checkbox]').on('change', updateCheckboxOption);

        // TEXT INPUT AND TEXTAREA OPTION
        $('.option input[type=text], .option textarea').on('change', updateTextAndTextareaOption);


        function updateSelectOption() {
          //console.log('updateSelectOption');
          var option_value = $(this).children('option:selected').attr('option-value');
          var $related_options = $('.option[master-option=' + $(this).parent('.option').attr('option') + ']');
          if ($(this).val() != '') {
            updateOptionList($related_options, option_value);
          } else {
            $related_options.slideUp();
          }
          clearOption($related_options);
        }

        function updateRadioOption() {
          //console.log('updateRadioOption');
          var option_value = $(this).attr('option-value');
          var $related_options = $('.option[master-option=' + $(this).parents('.option').attr('option') + ']');
          if ($('input[name=\'' + $(this).attr('name') + '\']:checked').length != '') {
            updateOptionList($related_options, option_value);
          } else {
            $related_options.slideUp();
          }
          clearOption($related_options);
        }

        function updateCheckboxOption() {
          //console.log('updateCheckboxOption');
          var option_value = [];
          $('.option input[name=\'' + $(this).attr('name') + '\']:checked').each(function() {
            option_value.push($(this).attr('option-value'));
          });
          var $related_options = $('.option[master-option=' + $(this).parents('.option').attr('option') + ']');
          if ($('input[name=\'' + $(this).attr('name') + '\']:checked').length != '') {
            updateOptionList($related_options, option_value);
          } else {
            $related_options.slideUp();
          }
          clearOption($related_options);
        }

        function updateTextAndTextareaOption() {
          //console.log('updateTextAndTextareaOption');
          var $related_options = $('.option[master-option=' + $(this).parent('.option').attr('option') + ']');
          if ($(this).val() != '') {
            $related_options.slideDown();
          } else {
            $related_options.slideUp();
          }
          clearOption($related_options);
        }


        function updateOptionList($related_options, option_value) {
          //console.log('updateOptionList');

          // ???
          var attr = $related_options.find('input[type=hidden]').attr('master-option-value');

          if (typeof attr !== typeof undefined && attr !== false) {
            $related_options.find('input[type=hidden][master-option-value!=0]').prev().prop('disabled', true);
          }
          // ???

          $related_options.find('input[master-option-value!=0]').hide();
          $related_options.find('input[master-option-value!=0]').parent('label').parent('div').hide();
          $related_options.find('option[master-option-value][master-option-value!=0]').hide(); // Hide all select options that have a master-option-value attribute and it is not equal to 0
          $related_options.find('textarea[master-option-value!=0]').hide();

          if (typeof(option_value) == "string") {
            option_value = [option_value];
          }

          for (var i in option_value) {
            $related_options.find('input[type=hidden][master-option-value=' + option_value[i] + ']').prev().prop('disabled', false);

            //If standard radio and checkboxes (uncomment this line and comment next)
            $related_options.find('input[master-option-value=' + option_value[i] + ']').show();

            //If non-standard radio and checkboxes - do not display classic radio and checkboxes (uncomment this line and comment previous)
            //$related_options.find('input[master-option-value=' + option_value[i] + ']').not("input[type=radio], input[type=checkbox]").show();

            $related_options.find('input[master-option-value=' + option_value[i] + ']').parent('label').parent('div').show();

            $related_options.find('option[master-option-value=' + option_value[i] + ']').show();

            $related_options.find('textarea[master-option-value=' + option_value[i] + ']').show();
          }

          // If the block has no visible options - hide block, else show block
          $related_options.each(function() {
            var visible_options = 0;

            for (var i in option_value) {
              visible_options += $(this).find('[master-option-value=' + option_value[i] + ']').length * 1;
              visible_options += $(this).find('[master-option-value=0]').length * 1;
            }

            if ($(this).find('option, input, textarea').length != 0 && visible_options == 0) {
              $(this).slideUp();
            } else {
              $(this).slideDown();
            }
          });
        }

        function clearOption($option_container) {
          //console.log('clearOption');

          /*
          For templates without AJAX update price uncomment the lines with ".trigger("change")"
          and comment the lines with ".each(update...)".

          For templates with AJAX update, uncomment the lines with ".each(update...)"
          and comment the lines with ".trigger("change")".
          */

          //find('..., li') - "li" for Journal 2, .removeClass('selected') - for Journal 2

          $option_container.find('select, li').removeClass('selected').val('').trigger("change");
          //$option_container.find('select, li').removeClass('selected').val('').each(updateSelectOption);

          $option_container.find('input[type=radio]:checked, input[type=checkbox]:checked, li').removeClass('selected').removeAttr('checked').trigger("change");
          //$option_container.find('input[type=radio]:checked, li').removeClass('selected').removeAttr('checked').each(updateRadioOption);
          //$option_container.find('input[type=checkbox]:checked, li').removeClass('selected').removeAttr('checked').each(updateCheckboxOption);

          $option_container.find('input[type=text], textarea').attr('value', '').val('').trigger("change");
          //$option_container.find('input[type=text], textarea').attr('value', '').val('').each(updateTextAndTextareaOption);

          $option_container.find('input[type=hidden][name^=option], li').removeClass('selected').attr('value', '');

          recalculatePrice();
        }

        //end first block

        {% if RDO_settings.price_adjustment_on is defined and RDO_settings.price_adjustment_on %}

        // changing price
        var num = {{ RDO_settings.decimal_places }};
        var $price = $('.product-info .price:first');
        var $price_old = $('.product-info .price_old:first');
        var main_timeout_id = 0;
        var special_timeout_id = 0;
        var animate_delay = 20;
        // var regex_price = /[0-9]+[\.]{0,1}[0-9]*/;
        // var regex_add_price = /([\+\-])[^0-9]*([0-9]+[\.]{0,1}[0-9]*)/;
        // var regex_replace_price = /([0-9]+[\.]{0,1}[0-9]*)/;
        var regex_price = /[0-9]+/;
        var regex_add_price = /([\+\-])[^0-9]*([0-9]+)/;
        var regex_replace_price = /([0-9]+)/;

        {% if special %}

        var initial_price = regex_price.exec('{{ js_special }}');
        var initial_price_old = regex_price.exec('{{ js_price }}');

        initial_price = initial_price[0] * 1;
        initial_price_old = initial_price_old[0] * 1;
        var initial_price_old_update = initial_price_old;

        {% else %}

        var initial_price = regex_price.exec('{{ js_const_price }}');
        initial_price = initial_price[0] * 1;

        {% endif %}

        var initial_price_update = initial_price;

        function formatMoney(n, c, d, t) {
          var c = isNaN(c = Math.abs(c)) ? 2 : c,
            d = d == undefined ? "." : d,
            t = t == undefined ? "," : t,
            s = n < 0 ? "-" : "",
            i = parseInt(n = Math.abs(+n || 0).toFixed(c)) + "",
            j = (j = i.length) > 3 ? j % 3 : 0;
          return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
        }

        function diffPrice() {

          var diff = 0;

          //Extract option price
          $('.options input[type=radio]:checked, .options input[type=checkbox]:checked').each(function() {
            additional_price = regex_add_price.exec($('label[for=' + $(this).attr('id') + '] span').text().replace('{{ decimal_point }}', '.').replace(new RegExp('{{ thousand_point }}', 'g'), ''));
            if (additional_price != null && additional_price != '' && additional_price != undefined) {
              if (additional_price[1] == '+') {
                diff += additional_price[2] * 1;
              } else if (additional_price[1] == '-') {
                diff -= additional_price[2] * 1;
              }
            }
          });

          //Extract option price
          $('.options select>option:selected').each(function() {
            additional_price = regex_add_price.exec($(this).text().replace('{{ decimal_point }}', '.').replace(new RegExp('{{ thousand_point }}', 'g'), ''));
            if (additional_price != null && additional_price != '' && additional_price != undefined) {
              if (additional_price[1] == '+') {
                diff += additional_price[2] * 1;
              } else if (additional_price[1] == '-') {
                diff -= additional_price[2] * 1;
              }
            }
          });

          return diff;
        }

        function priceFormat(price_view, price) {
          price = formatMoney(price, num, '{{ decimal_point }}', '{{ thousand_point }}');
          return price_view.replace('{{ decimal_point }}', '.').replace(new RegExp('{{ thousand_point }}', 'g'), '').replace(regex_replace_price, price);
        }

        {% if RDO_settings.price_animate_on %}

        function animateMainPrice_callback(wrapper, price_start, price_final, animate_step, special) {
          price_start += animate_step;

          if ((animate_step > 0) && (price_start > price_final)) {
            price_start = price_final;
          } else if ((animate_step < 0) && (price_start < price_final)) {
            price_start = price_final;
          } else if (animate_step == 0) {
            price_start = price_final;
          }

          wrapper.html(priceFormat(wrapper.html(), price_start));

          if (price_start != price_final) {
            if (special === true) {
              special_timeout_id = setTimeout(function() {
                animateMainPrice_callback(wrapper, price_start, price_final, animate_step, special)
              }, animate_delay);
            } else {
              main_timeout_id = setTimeout(function() {
                animateMainPrice_callback(wrapper, price_start, price_final, animate_step, special)
              }, animate_delay);
            }
          }
        }

        function animateMainPrice(wrapper, start, final, special) {
          animate_step = (final - start) / 10;
          if (special === true) {
            clearTimeout(special_timeout_id);
            special_timeout_id = setTimeout(function() {
              animateMainPrice_callback(wrapper, start, final, animate_step, special)
            }, animate_delay);
          } else {
            clearTimeout(main_timeout_id);
            main_timeout_id = setTimeout(function() {
              animateMainPrice_callback(wrapper, start, final, animate_step, special)
            }, animate_delay);
          }
        }

        {% else %}

        function showPrice(wrapper, price) {
          wrapper.html(priceFormat(wrapper.html(), price));
        }

        {% endif %}

        function recalculatePrice() {
          var diff = diffPrice();
          if (initial_price_update != initial_price + diff) {
            {% if RDO_settings.price_animate_on %}
            animateMainPrice($price, initial_price_update, initial_price + diff, false);
            {% else %}
            showPrice($price, initial_price + diff);
            {% endif %}
            initial_price_update = initial_price + diff;
            {% if special %}
            {% if RDO_settings.price_animate_on %}
            animateMainPrice($price_old, initial_price_old_update, initial_price_old + diff, true);
            {% else %}
            showPrice($price_old, initial_price_old + diff);
            {% endif %}
            initial_price_old_update = initial_price_old + diff;
            {% endif %}
          }
        }

        {% else %}

        function recalculatePrice() {
          return true;
        }

        {% endif %}

      });

      //--></script>
    <!--EOF Related Options-->
  {% endif %}
{{ footer }} 
