<div id="cart" class="btn-group btn-block stampik-cart">
  <button type="button" data-toggle="dropdown" data-loading-text="{{ text_loading }}" class="btn btn-inverse btn-block btn-lg dropdown-toggle">
    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="105px" height="95px" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
         viewBox="0 0 3.39 3.04"
         xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
       <style type="text/css">
         .cart0 {fill:#FEFEFE}
       </style>
      </defs>
      <g>
        <path class="cart0" d="M1.78 0.92l0.09 0c0.15,0 0.23,-0.05 0.2,0.1 -0.02,0.09 -0.04,0.19 -0.05,0.28 -0.02,0.09 -0.04,0.18 -0.05,0.27 -0.03,0.16 0.01,0.18 -0.15,0.18 -0.15,0 -0.12,-0.02 -0.14,-0.18 -0.02,-0.09 -0.03,-0.18 -0.05,-0.27 -0.02,-0.09 -0.03,-0.19 -0.05,-0.28 -0.03,-0.15 0.05,-0.1 0.2,-0.1zm-0.86 0l0.27 0c0.06,0 0.07,0.13 0.08,0.18 0.01,0.07 0.03,0.15 0.05,0.22 0.01,0.06 0.09,0.39 0.08,0.43l-0.1 0 -0.08 0c-0.15,0 -0.11,-0.01 -0.15,-0.15 -0.03,-0.08 -0.05,-0.16 -0.07,-0.23 -0.02,-0.08 -0.05,-0.16 -0.07,-0.24 -0.01,-0.04 -0.02,-0.08 -0.03,-0.12 -0.02,-0.05 -0.05,-0.09 0.02,-0.09zm1.02 1.66l-0.04 -0.28 0 0 -0.65 -0.04 -0.01 0 -0.03 -0.15 0 0 0.73 0c0.05,-0.12 0.07,-0.17 0.16,-0.27 0.11,-0.14 0.13,-0.05 0.17,-0.25 0.02,-0.12 0.05,-0.24 0.08,-0.35 0.01,-0.06 0.02,-0.12 0.04,-0.18 0.01,-0.06 0.01,-0.14 0.07,-0.14l0.26 0 0.04 0.01 0.01 0 -0.19 0.65 0.01 0.01 0.06 -0.01 0.04 0 0 0 0.21 0.03c0.04,-0.06 0.13,-0.43 0.15,-0.52 0.01,-0.04 0.03,-0.09 0.04,-0.13 0.02,-0.08 0.01,-0.05 0.11,-0.06 0.1,0 0.17,-0.04 0.19,-0.15 0.02,-0.25 -0.32,-0.19 -0.48,-0.19 -0.22,0 -0.45,0 -0.68,0 -0.22,0 -0.44,0 -0.67,0 -0.11,0 -0.22,0 -0.33,0 -0.12,-0.01 -0.24,0.01 -0.35,0 -0.24,-0.02 -0.12,-0.26 -0.26,-0.41 -0.06,-0.07 -0.42,-0.17 -0.51,-0.15 -0.09,0.02 -0.13,0.12 -0.1,0.21 0.03,0.1 0.12,0.11 0.22,0.12 0.23,0.04 0.2,0.23 0.26,0.42 0.11,0.34 0.19,0.7 0.29,1.05 0.02,0.09 0.14,0.47 0.14,0.53 0,0.11 -0.24,0.28 -0.02,0.45 0.06,0.05 0.17,0.06 0.25,0.02 0.12,-0.05 0.09,-0.13 0.13,-0.2 0.02,-0.04 0.59,0.01 0.66,-0.02z"/>
        <path class="cart0" d="M2.67 1.92c0.2,-0.04 0.1,0.26 0.13,0.33 0.03,0.08 0.32,-0.05 0.36,0.11 0.04,0.17 -0.24,0.12 -0.33,0.12 -0.05,0.01 -0.03,0.04 -0.03,0.09 0,0.04 0,0.07 0,0.11 0,0.06 0.01,0.14 -0.07,0.16 -0.19,0.05 -0.13,-0.23 -0.13,-0.33 -0.01,-0.08 -0.33,0.05 -0.36,-0.1 -0.04,-0.2 0.25,-0.11 0.33,-0.13 0.08,-0.02 -0.05,-0.33 0.1,-0.36zm0 -0.19c-0.87,0.04 -0.8,1.35 0.06,1.31 0.86,-0.05 0.8,-1.36 -0.06,-1.31z"/>
      </g>
    </svg>
  </button>
  <ul class="dropdown-menu pull-right">
    {% if products or vouchers %}
    <li>
      <table class="table table-striped">
        {% for product in products %}
        <tr>
          <td class="text-center">{% if product.thumb %} <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-thumbnail" /></a> {% endif %}</td>
          <td class="text-left"><a href="{{ product.href }}">{{ product.name }}</a> {% if product.option %}
            {% for option in product.option %} <br />
            - <small>{{ option.name }} {{ option.value }}</small> {% endfor %}
            {% endif %}
            {% if product.recurring %} <br />
            - <small>{{ text_recurring }} {{ product.recurring }}</small> {% endif %}</td>
          <td class="text-right">x {{ product.quantity }}</td>
          <td class="text-right">{{ product.total }}</td>
          <td class="text-center"><button type="button" onclick="cart.remove('{{ product.cart_id }}');" title="{{ button_remove }}" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></td>
        </tr>
        {% endfor %}
        {% for voucher in vouchers %}
        <tr>
          <td class="text-center"></td>
          <td class="text-left">{{ voucher.description }}</td>
          <td class="text-right">x&nbsp;1</td>
          <td class="text-right">{{ voucher.amount }}</td>
          <td class="text-center text-danger"><button type="button" onclick="voucher.remove('{{ voucher.key }}');" title="{{ button_remove }}" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></td>
        </tr>
        {% endfor %}
      </table>
    </li>
    <li>
      <div>
        <table class="table table-bordered">
          {% for total in totals %}
          <tr>
            <td class="text-right"><strong>{{ total.title }}</strong></td>
            <td class="text-right">{{ total.text }}</td>
          </tr>
          {% endfor %}
        </table>
        <p class="text-right"><a href="{{ cart }}"><strong><i class="fa fa-shopping-cart"></i> {{ text_cart }}</strong></a>&nbsp;&nbsp;&nbsp;<a href="{{ checkout }}"><strong><i class="fa fa-share"></i> {{ text_checkout }}</strong></a></p>
      </div>
    </li>
    {% else %}
    <li>
      <p class="text-center">{{ text_empty }}</p>
    </li>
    {% endif %}
  </ul>
</div>
