<footer class="stampik-footer">
  <div class="container">

    <div class="stampik-footer__container">
      <div class="stampik-footer__container_info">
        <div class="stampik-footer__container_info_contacts">
          <h5>{{ checkout }}</h5>
          <p>
            <a href="tel:+38{{ telephone|replace({' ': ''}) }}">{{ telephone }}</a>
          </p>
          <p>
            <a href="tel:+38{{ telephone2|replace({' ': ''}) }}">{{ telephone2 }}</a>
          </p>
          <h5>{{ shop_open }}</h5>
          <p>{{ config_open }}</p>
        </div>
        <div class="stampik-footer__container_info_menu">
          {% for information in informations %}
            <p>
              <a href="{{ information.href }}">{{ information.title }}</a>
            </p>
          {% endfor %}
          <p>
            <a href="{{ contact }}">{{ text_contact }}</a>
          </p>
        </div>
      </div>
      <div class="stampik-footer__container_social">
        <ul>
          {% if config_email|trim == '' %}
          {% else %}
            <li>
              <a href="mailto:{{ config_email|trim }}">
                <img src="catalog/view/theme/stampik/image/logo_email.svg" alt="logo_email"/>
              </a>
            </li>
          {% endif %}

          {% if telephone|trim == '' %}
          {% else %}
            <li>
              <a href="tel:+38{{ telephone|replace({' ': ''}) }}">
                <img src="catalog/view/theme/stampik/image/logo_perezvon.svg" alt="logo_perezvon"/>
              </a>
            </li>
          {% endif %}

          {% if config_social_viber|trim == '' %}
          {% else %}
            <li>
              <a href="tel:{{ config_social_viber|replace({' ': ''}) }}">
                <img src="catalog/view/theme/stampik/image/logo_viber.svg" alt="logo_viber"/>
              </a>
            </li>
          {% endif %}

          {% if config_social_telegram|trim == '' %}
          {% else %}
            <li>
              <a href="{{ config_social_telegram|trim }}" target="_blank" rel="noreferrer">
                <img src="catalog/view/theme/stampik/image/logo_telegram.svg" alt="logo_telegram"/>
              </a>
            </li>
          {% endif %}

          {% if config_social_fb|trim == '' %}
          {% else %}
            <li>
              <a href="{{ config_social_fb|trim }}" target="_blank" rel="noreferrer">
                <img src="catalog/view/theme/stampik/image/logo_facebook.svg" alt="logo_facebook"/>
              </a>
            </li>
          {% endif %}

          {% if config_social_instagram|trim == '' %}
          {% else %}
            <li>
              <a href="{{ config_social_instagram|trim }}" target="_blank" rel="noreferrer">
                <img src="catalog/view/theme/stampik/image/logo_instagram.svg" alt="logo_instagram"/>
              </a>
            </li>
          {% endif %}

          {% if config_social_youtube|trim == '' %}
          {% else %}
            <li>
              <a href="{{ config_social_youtube|trim }}" target="_blank" rel="noreferrer">
                <img src="catalog/view/theme/stampik/image/logo_youtube.svg" alt="logo_youtube"/>
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</footer>

<div class="stampik__helper">
  <a href="#stampik__helper_form" class="open-helper-popup">
    <img src="catalog/view/theme/stampik/image/logo_mini.svg" alt="logo_mini"/>
  </a>
</div>

<div id="stampik__helper_form" class="stampik__helper_popup mfp-hide">
  <ul>
    {% if config_email|trim == '' %}
    {% else %}
      <li>
        <a href="mailto:{{ config_email|trim }}">
          <img src="catalog/view/theme/stampik/image/logo_email.svg" alt="logo_email"/>
        </a>
        <p>stampic@ukr.net</p>
      </li>
    {% endif %}

    {% if telephone|trim == '' %}
    {% else %}
      <li>
        <a href="tel:+38{{ telephone|replace({' ': ''}) }}">
          <img src="catalog/view/theme/stampik/image/logo_perezvon.svg" alt="logo_perezvon"/>
        </a>
        <p>Перезвонить мне</p>
      </li>
    {% endif %}

    {% if config_social_viber|trim == '' %}
    {% else %}
      <li>
        <a href="tel:{{ config_social_viber|replace({' ': ''}) }}">
          <img src="catalog/view/theme/stampik/image/logo_viber.svg" alt="logo_viber"/>
        </a>
        <p>Viber</p>
      </li>
    {% endif %}

    {% if config_social_telegram|trim == '' %}
    {% else %}
      <li>
        <a href="{{ config_social_telegram|trim }}" target="_blank" rel="noreferrer">
          <img src="catalog/view/theme/stampik/image/logo_telegram.svg" alt="logo_telegram"/>
        </a>
        <p>Telegram</p>
      </li>
    {% endif %}

    {% if config_social_fb|trim == '' %}
    {% else %}
      <li>
        <a href="{{ config_social_fb|trim }}" target="_blank" rel="noreferrer">
          <img src="catalog/view/theme/stampik/image/logo_facebook.svg" alt="logo_facebook"/>
        </a>
        <p>Facebook</p>
      </li>
    {% endif %}

    {% if config_social_instagram|trim == '' %}
    {% else %}
      <li>
        <a href="{{ config_social_instagram|trim }}" target="_blank" rel="noreferrer">
          <img src="catalog/view/theme/stampik/image/logo_instagram.svg" alt="logo_instagram"/>
        </a>
        <p>Instagram</p>
      </li>
    {% endif %}
  </ul>
</div>

<script>
  $(document).ready(function () {
    // stampik helper popup
    $('.open-helper-popup').magnificPopup({
      type: 'inline'
    });
  });
</script>

{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
</body></html>
