<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ title }}</title>
  {% if robots %}
    <meta name="robots" content="{{ robots }}" />
  {% endif %}
  <base href="{{ base }}" />
  {% if description %}
    <meta name="description" content="{{ description }}" />
  {% endif %}
  {% if keywords %}
    <meta name="keywords" content="{{ keywords }}" />
  {% endif %}
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ og_url }}" />
  {% if og_image %}
    <meta property="og:image" content="{{ og_image }}" />
  {% else %}
    <meta property="og:image" content="{{ logo }}" />
  {% endif %}
  <meta property="og:site_name" content="{{ name }}" />
  <script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
  <link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
  <script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
  <link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css" />
  <link href="catalog/view/javascript/jquery/magnific/magnific-popup.css" rel="stylesheet" type="text/css" />
  {% for style in styles %}
    <link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
  {% endfor %}
  <link href="catalog/view/theme/stampik/stylesheet/stylesheet.css" rel="stylesheet">
  {% for script in scripts %}
    <script src="{{ script }}" type="text/javascript"></script>
  {% endfor %}
  <script src="catalog/view/javascript/jquery/magnific/jquery.magnific-popup.min.js" type="text/javascript"></script>
  <script src="catalog/view/theme/stampik/javascript/common2.js" type="text/javascript"></script>
  <script src="catalog/view/theme/stampik/javascript/scripts.js" type="text/javascript"></script>
  {% for link in links %}
    <link href="{{ link.href }}" rel="{{ link.rel }}" />
  {% endfor %}
  {% for analytic in analytics %}
    {{ analytic }}
  {% endfor %}
</head>
<body>

<div class="fixed-header">
  <nav id="top">
    <div class="container container-1400">
      <div class="top__header_wrapper">
        <div class="top__header">
          <div class="top__header_logo">
            {% if logo %}
              {% if home == og_url %}
                <img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" />
              {% else %}
                <a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" /></a>
              {% endif %}
            {% else %}
              <h1><a href="{{ home }}">{{ name }}</a></h1>
            {% endif %}
          </div>

          <div class="top__header_menu">
            {% for information in informations %}
              <a href="{{ information.href }}">{{ information.title }}<img src="catalog/view/theme/stampik/image/Arrow-down.svg" alt="arrow-down"/></a>
            {% endfor %}
            <a href="{{ contact }}">{{ text_contact }}<img src="catalog/view/theme/stampik/image/Arrow-down.svg" alt="arrow-down"/></a>
          </div>

          {{ language }}

          <div class="top__header_phones">
            <a href="tel:+38{{ telephone|replace({' ': ''}) }}">{{ telephone }}</a>
            <a href="tel:+38{{ telephone2|replace({' ': ''}) }}">{{ telephone2 }}</a>
          </div>
        </div>
      </div>

    </div>
  </nav>

  <header>
    <div class="container container-1400">
      <div class="headerMain_wrapper">
        <div class="headerMain">
          <div class="headerMain__catalog">
            <a href="#" class="open-catalog">
              <i class="fa fa-bars"></i>
              <span>Каталог</span>
            </a>
            <ul class="catalog-dropdown-menu">
              {% for category in categories %}
                <li>
                  <a href="{{ category.href }}">
                    <div class="img-wrapper">
                      <img src="image/{{ category.image }}" alt="{{ category.name }}" />
                    </div>
                    {{ category.name }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>

          <div class="headerMain__search">
            {{ search }}
          </div>

          <div class="headerMain__cart">
            {{ cart }}
          </div>
        </div>
      </div>
    </div>
  </header>
</div>

<div class="fixed-header-back"></div>

{{ menu }}
