{{ header }}
<div id="common-home" class="container stampik-home">
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
      {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
      {% set class = 'col-sm-9' %}
    {% else %}
      {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}{{ content_bottom }}
      <div class="row">
        <div class="col-sm-12 stampik-home__extention-content">
          <div class="stampik-home__extention-content_content-item">
            <h3>{{ izgotovlenie_pechatey }}</h3>
            <div class="stampik-home__extention-content_content-item_description_order">
              <div class="left-part">
                <img src="catalog/view/theme/stampik/image/str_1_pic_01.svg" alt="str_1_pic_01">
                <a href="index.php?route=product/category&path=59">{{ zakazat }}</a>
              </div>
              <div class="right-part">
                <h4>Чтобы ЗАКАЗАТЬ печати и штампы, нужно:</h4>
                <ul>
                  <li>
                    <div class="img-wrapper">
                      <img src="catalog/view/theme/stampik/image/icon-email.svg" alt="icon-email">
                    </div>
                    <p>Отправить информацию с указанием желаемого текста размера или диаметра на эл.почту stampic@ukr.net</p>
                  </li>
                  <li>
                    <div class="img-wrapper">
                      <img src="catalog/view/theme/stampik/image/icon-file-format.svg" alt="icon-file-format">
                    </div>
                    <p>Для изделий с логотипом прикрепить файл в формате eps, cdr, tiff, pdf</p>
                  </li>
                  <li>
                    <div class="img-wrapper">
                      <img src="catalog/view/theme/stampik/image/icon-docs.svg" alt="icon-docs">
                    </div>
                    <p>Прикрепить регистрационные документы для печати</p>
                  </li>
                  <li>
                    <div class="img-wrapper">
                      <img src="catalog/view/theme/stampik/image/icon-transfer.svg" alt="icon-transfer">
                    </div>
                    <p>Указать информацию по доставке</p>
                  </li>
                  <li>
                    <div class="img-wrapper">
                      <img src="catalog/view/theme/stampik/image/icon-phone.svg" alt="icon-phone">
                    </div>
                    <p>Указать контактную информацию для связи</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="stampik-home__extention-content_content-item">
            <h3>{{ izgotovlenie_faksimile }}</h3>
            <div class="stampik-home__extention-content_content-item_description_order">
              <div class="left-part">
                <img src="catalog/view/theme/stampik/image/categories/faksimile/str_1_pic_02.svg" alt="str_1_pic_02">
                <a href="index.php?route=product/product&amp;product_id=53">{{ zakazat }}</a>
              </div>
              <div class="right-part">
                <h4>Чтобы ЗАКАЗАТЬ факсимиле, нужно:</h4>
                <ul>
                  <li>
                    <div class="img-wrapper">
                      <img src="catalog/view/theme/stampik/image/icon-email.svg" alt="icon-email">
                    </div>
                    <p>Прикрепить скан-копию росписи на формате А4, на эл.почту stampic@ukr.net</p>
                  </li>
                  <li>
                    <div class="img-wrapper">
                      <img src="catalog/view/theme/stampik/image/icon-transfer.svg" alt="icon-transfer">
                    </div>
                    <p>Указать информацию по доставке</p>
                  </li>
                  <li>
                    <div class="img-wrapper">
                      <img src="catalog/view/theme/stampik/image/icon-phone.svg" alt="icon-phone">
                    </div>
                    <p>Указать контактную информацию для связи</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="stampik-home__extention-content_content-item">
            <h3>{{ izgotovlenie_po_ottisku }}</h3>
            <div class="stampik-home__extention-content_content-item_description_order">
              <div class="left-part">
                <img src="catalog/view/theme/stampik/image/categories/ottisk/str_1_pic_03.svg" alt="str_1_pic_03">
                <a href="index.php?route=product/product&amp;product_id=54">{{ zakazat }}</a>
              </div>
              <div class="right-part">
                <h4>Чтобы ЗАКАЗАТЬ изделие по оттиску, нужно:</h4>
                <ul>
                  <li>
                    <div class="img-wrapper">
                      <img src="catalog/view/theme/stampik/image/icon-email.svg" alt="icon-email">
                    </div>
                    <p>Прикрепить скан-копию необходимого оттиска с высоким разрешением на почту stampic@ukr.net с указанием всей текстовой информации по изделию</p>
                  </li>
                  <li>
                    <div class="img-wrapper">
                      <img src="catalog/view/theme/stampik/image/icon-docs.svg" alt="icon-docs">
                    </div>
                    <p>Прикрепить регистрационные документы для печати</p>
                  </li>
                  <li>
                    <div class="img-wrapper">
                      <img src="catalog/view/theme/stampik/image/icon-transfer.svg" alt="icon-transfer">
                    </div>
                    <p>Указать информацию по доставке</p>
                  </li>
                  <li>
                    <div class="img-wrapper">
                      <img src="catalog/view/theme/stampik/image/icon-phone.svg" alt="icon-phone">
                    </div>
                    <p>Указать контактную информацию для связи</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="stampik-home__extention-content_content-item">
            <h3>{{ why_zakazyvat_nujno }}</h3>
            <div class="stampik-home__extention-content_content-item_description_why">
              <div class="stampik-home__extention-content_content-item_description_why_item">
                <img src="catalog/view/theme/stampik/image/home_why/str_1_pic_m_01.svg" alt="str_1_pic_m_01"/>
                <p>Вся продукция изготовляется методом ЛАЗЕРНОЙ ГРАВИРОВКИ ИЗ РЕЗИНЫ.<br/>Наши изделия служат более 10 лет!</p>
              </div>

              <div class="stampik-home__extention-content_content-item_description_why_item">
                <img src="catalog/view/theme/stampik/image/home_why/str_1_pic_m_02.svg" alt="str_1_pic_m_02"/>
                <p>У нас лучшее ЦЕНА/КАЧЕСТВО!<br/>Заказав изделие у нас<br/>Вы 100% останетесь довольны!</p>
              </div>
              <div class="stampik-home__extention-content_content-item_description_why_item">
                <img src="catalog/view/theme/stampik/image/home_why/str_1_pic_m_03.svg" alt="str_1_pic_m_03"/>
                <p>Изготовление изделия<br/>за 5 МИНУТ после<br/>согласования макета</p>
              </div>
              <div class="stampik-home__extention-content_content-item_description_why_item">
                <img src="catalog/view/theme/stampik/image/home_why/str_1_pic_m_04.svg" alt="str_1_pic_m_04"/>
                <p>ДОСТАВКА заказов<br/>по всей Укранине</p>
              </div>
              <div class="stampik-home__extention-content_content-item_description_why_item">
                <img src="catalog/view/theme/stampik/image/home_why/str_1_pic_m_05.svg" alt="str_1_pic_m_05"/>
                <p>Наша продукция <b>НАИЛУЧШЕГО</b><br/>качества австрийских <b>ТМ<br/>COLOP, TRODAT, REINER</b></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{ column_right }}</div>
</div>
{{ footer }}