<div id="search" class="stampik-search">
  <input type="text" name="search" value="{{ search }}"/>
  <button type="button">
    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="79px" height="77px" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
         viewBox="0 0 2.27 2.21"
         xmlns:xlink="http://www.w3.org/1999/xlink">
       <defs>
         <style type="text/css">
           .search0 {stroke:#52A8A3;stroke-width:0.34;stroke-miterlimit:22.9256}
           .search1 {stroke:#52A8A3;stroke-width:0.34;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:22.9256}
           .filSearch0 {fill:none}
         </style>
       </defs>
      <g>
        <circle class="filSearch0 search0" cx="1.38" cy="0.88" r="0.71"/>
        <line class="filSearch0 search1" x1="0.85" y1="1.36" x2="0.17" y2= "2.04" />
      </g>
      </svg>
  </button>
</div>
