@font-face
	font-family: 'Calibri'
	font-style: normal
	font-weight: 400
	src: local('Calibri'),
	url(../fonts/Calibri/Calibri.eot),
	url(../fonts/Calibri/Calibri.woff2) format('woff2'),
	url(../fonts/Calibri/Calibri.woff) format('woff'),
	url(../fonts/Calibri/Calibri.ttf) format('truetype')

@font-face
	font-family: 'ArialRegular'
	font-style: normal
	font-weight: 400
	src: local('ArialRegular'),
	url(../fonts/ArialRegular/ArialRegular.eot) format('woff'),
	url(../fonts/ArialRegular/ArialRegular.woff) format('woff'),
	url(../fonts/ArialRegular/ArialRegular.ttf) format('truetype')

@font-face
	font-family: 'Calibri-Bold'
	font-style: normal
	font-weight: 400
	src: local('Calibri-Bold'),
	url(../fonts/Calibri/Calibri-Bold.eot) format('woff'),
	url(../fonts/Calibri/Calibri-Bold.woff) format('woff'),
	url(../fonts/Calibri/Calibri-Bold.ttf) format('truetype')

@font-face
	font-family: 'Calibri-BoldItalic'
	font-style: normal
	font-weight: 900
	src: local('Calibri-BoldItalic'),
	url(../fonts/Calibri/Calibri-BoldItalic.eot),
	url(../fonts/Calibri/Calibri-BoldItalic.woff2) format('woff2'),
	url(../fonts/Calibri/Calibri-BoldItalic.woff) format('woff'),
	url(../fonts/Calibri/Calibri-BoldItalic.ttf) format('truetype')




//@font-face
//	font-family: 'Roboto'
//	font-style: italic
//	font-weight: 400
//	src: local('Roboto Italic'), local('Roboto-Italic'), url(../fonts/Roboto-Italic.woff2) format('woff2')
//
//@font-face
//	font-family: 'Roboto'
//	font-style: normal
//	font-weight: 700
//	src: local('Roboto Bold'), local('Roboto-Bold'), url(../fonts/Roboto-Bold.woff2) format('woff2')
//
//@font-face
//	font-family: 'Roboto'
//	font-style: italic
//	font-weight: 700
//	src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(../fonts/Roboto-BoldItalic.woff2) format('woff2')
