.stampik-footer
  margin-top: 23px
  .stampik-footer__container
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap
    background-color: $accent
    padding: 13px 38px 10px 28px
    .stampik-footer__container_info
      flex: 1 0 250px
      max-width: 297px
      color: #fff
      display: flex
      justify-content: space-between
      align-items: center
      margin-right: 10px
      .stampik-footer__container_info_contacts
        white-space: nowrap
        margin-right: 15px
        h5
          font-family: $categories-font
          font-size: 18px
          margin: 0
          &:first-of-type
            margin-bottom: 8px
          &:last-of-type
            margin: 8px 0
        p
          font-family: $categories-font
          font-size: 18px
          margin: 0
          & + p
            margin-top: 8px
          a
            color: #fff
            text-decoration: none
            transition: all ease .3s
            &:hover
              color: $darkAccent
              text-decoration: none
      .stampik-footer__container_info_menu
        p
          font-family: $categories-font
          font-size: 18px
          margin: 0
          & + p
            margin-top: 8px
          a
            color: #fff
            text-decoration: none
            transition: all ease .3s
            &:hover
              color: $darkAccent
              text-decoration: none
    .stampik-footer__container_social
      flex: 1 0 290px
      max-width: 540px
      ul
        margin: 0
        padding: 0
        display: flex
        justify-content: space-evenly
        flex-wrap: wrap
        li
          display: block
          width: 66px
          margin: 3px
          a
            display: block
            width: 100%
            img
              display: block
              width: 100%
              height: auto

.stampik__helper
  width: 66px
  height: 66px
  border: 3px solid $accent
  border-radius: 50%
  overflow: hidden
  position: fixed
  bottom: 20px
  right: 20px
  background-color: #fff
  animation: helper-scale 1s linear infinite
  z-index: 2
  a
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    align-items: center
    img
      display: block
      width: 80%
      height: auto

@keyframes helper-scale
  0%
    transform: none
  50%
    transform: scale(1.1)
  100%
    transform: none

.stampik__helper_popup
  position: relative
  background: #cbe5e3
  padding: 20px
  width: auto
  max-width: 300px
  margin: 20px auto
  border-radius: 10px
  ul
    margin: 0
    padding: 0
    li
      width: 100%
      display: flex
      justify-content: flex-start
      align-items: center
      & + li
        margin-top: 10px
      a
        display: block
        width: 90px
        margin-right: 15px
        img
          display: block
          width: 100%
          height: auto
      p
        flex: 0 1 calc(100% - 108px)
        font-family: $active-category-font
        margin: 0