.stampik-home
  h3
    text-align: center
    color: #fff
    border: 1px solid #c9cdcf
    background-color: $accent
    font-family: $categories-font
    font-size: 31px
    padding: 6px 15px
    margin: 26px 0
  .stampik-special__product-list
    display: flex
    justify-content: space-evenly
    flex-wrap: wrap
    .stampik-special__product-list_product-item
      width: 190px
      height: 190px
      border-radius: 8px
      border: 3px solid $accent
      margin: 5px
      padding: 5px
      position: relative
      overflow: hidden
      a
        width: 100%
        height: 100%
        display: flex
        justify-content: center
        align-items: center
        img
          display: block
          width: 100%
          max-height: 100%
        .price
          position: absolute
          right: 0
          top: 0
          text-shadow: 2px 2px 0 #fff, -2px 2px 0 #fff, -2px -2px 0 #fff, 2px -2px #fff
          font-size: 30px
          font-family: $categories-font
          color: red
          margin: 0
          display: flex
          flex-direction: column
          align-items: flex-end
          flex-wrap: wrap
          .price-old
            display: block
            font-size: 20px
            color: #000
            position: relative
            line-height: 1.1
            &::after
              content: ''
              display: block
              width: 100%
              height: 2px
              background-color: red
              position: absolute
              left: -3px
              top: calc(50% - 2px)
              transform: rotateZ(-5deg)
        h4
          position: absolute
          right: 0
          bottom: 0
          font-size: 20px
          color: #000
          text-shadow: 2px 2px 0 #fff, -2px 2px 0 #fff, -2px -2px 0 #fff, 2px -2px #fff
          width: 158px
          text-align: center
          font-family: $categories-font
          margin: 0
  .stampik-home__extention-content
    .stampik-home__extention-content_content-item
      .stampik-home__extention-content_content-item_description_order
        width: 100%
        display: flex
        justify-content: center
        flex-wrap: wrap
        margin-bottom: 10px
        .left-part
          width: 152px
          margin: 0 60px 40px 0
          img
            display: block
            width: 100%
            height: auto
            margin-bottom: 15px
          a
            display: block
            width: 100%
            height: 38px
            line-height: 42px
            font-family: $categories-font
            font-size: 25px
            text-transform: uppercase
            text-decoration: none
            color: #fff
            text-align: center
            background-color: $red
            box-shadow: inset -3px -3px 5px 3px rgba(0,0,0,.4), inset 3px 3px 5px 3px rgba(255,255,255,.4)
            transition: all ease .3s
            &:hover
              box-shadow: inset -3px -3px 5px 3px rgba(255,255,255,.4), inset 3px 3px 5px 3px rgba(0,0,0,.4)
        .right-part
          flex: 1 0 220px
          max-width: 450px
          h4
            font-size: 22px
            margin: 0 0 15px
          ul
            margin: 0
            padding: 0
            li
              display: flex
              justify-content: flex-start
              align-items: center
              & + li
                margin-top: 10px
              .img-wrapper
                flex: 0 0 30px
                height: 24px
                display: flex
                justify-content: center
                align-items: center
                margin-right: 8px
                img
                  display: block
                  height: 100%
                  width: auto
                  max-width: 100%
              p
                font-size: 14px
                line-height: 1.1
                margin: 0
      .stampik-home__extention-content_content-item_description_why
        width: 100%
        display: flex
        justify-content: space-evenly
        flex-wrap: wrap
        padding-bottom: 20px
        .stampik-home__extention-content_content-item_description_why_item
          flex: 1 0 260px
          max-width: 284px
          margin: 28px 5px 0
          display: flex
          justify-content: flex-start
          align-items: center
          img
            display: block
            height: 50px
            width: auto
            margin-right: 16px
          p
            flex: 1 0 50px
            font-size: 12px
            margin: 0
            line-height: 1.7

