@import "vars"


@media only screen and (max-width: 1199px)
  .top__header
    .top__header_phones
      width: 136px
    .top__header_menu a img
      margin-left: 0
    .top__header_logo
      margin-right: 20px
  .headerMain_wrapper
    .headerMain
      margin-left: 0
  .menu-categories
    padding-left: 0
  .fixed-header-back
    height: 180px
  .stampik-footer .stampik-footer__container
    padding: 13px 15px 10px

@media only screen and (max-width: 991px)
  .top__header
    flex-wrap: wrap
    .top__header_menu
      order: 2
      flex-basis: 100%
      justify-content: space-evenly
      flex-wrap: wrap
      a
        margin: 10px 8px
  .menu-categories
    margin-right: -20px
  .fixed-header-back
    height: 226px
  .menu-categories .category-wrapper .subcategories-dropdown-menu
    display: none !important

@media only screen and (max-width: 767px)
  .headerMain_wrapper
    .headerMain
      .headerMain__catalog
        flex: 0 0 50px
        a.open-catalog
          margin-right: 0
          i
            margin-right: 0
          span
            display: none
      .headerMain__cart
        margin-left: 0
      .headerMain__search
        padding: 6px 10px
        input
          padding-right: 35px
        button
          width: 30px
          right: 10px
  .fixed-header-back
    display: none
  .fixed-header
    position: static
  .stampik-footer .stampik-footer__container
    justify-content: center
    .stampik-footer__container_info
      margin-right: 0
      flex: 0 0 100%
      max-width: 100%
      margin-bottom: 20px

@media only screen and (max-width: 480px)
  .top__header
    .top__header_phones
      margin-left: 0
      width: 100%
  .stampik-product__product_bottom-table .form-group .button-wrapper>div button
    width: 100%
    img
      display: none

@media only screen and (max-width: 380px)
  .headerMain_wrapper .headerMain .headerMain__cart .stampik-cart
    .dropdown-menu table.table-striped>tbody>tr>td:first-child
      display: none
  .stampik-category__description .stampik-category__description_order .left-part,
  .stampik-home .stampik-home__extention-content .stampik-home__extention-content_content-item .stampik-home__extention-content_content-item_description_order .left-part
    margin-right: 0


/*==========  Mobile First  ==========*/

// ≤576px

// ≤768px

// ≤992px

// ≤1200px
@media only screen and (min-width: 1200px)
  .container.container-1400
    width: 100%
    max-width: 1400px
