.menu-categories
  padding-left: 30px
  a
    font-family: $categories-font
    font-size: 15px
    line-height: 1
    color: $text
    transition: all ease .3s
    display: flex
    justify-content: flex-start
    align-items: flex-end
    padding: 10px 15px 5px 5px
    position: relative
    border: none
    &:hover
      color: $accent
      background-color: transparent
    .img-wrapper
      height: 26px
      width: 26px
      flex: 0 0 26px
      margin-right: 11px
      display: flex
      justify-content: center
      align-items: center
      img
        height: 100%
        width: auto
        max-width: 100%
    .arrow-right
      display: block
      width: 22px
      height: auto
      transform: rotate(-90deg)
      position: absolute
      right: -2px
      bottom: 8px
    &.active
      background-color: transparent
      font-family: $active-category-font
      color: $accent
      &:hover
        background-color: transparent
        color: $accent

.menu-categories .category-wrapper
  position: relative
  .subcategories-dropdown-menu
    min-width: 100%
    display: flex
    justify-content: flex-start
    flex-wrap: wrap
    padding: 10px
    margin: 0
    border: 1px solid $accent
    border-radius: 4px
    box-shadow: 0 0 10px 2px rgba(82,168,163,.4)
    position: absolute
    left: 0
    top: 100%
    z-index: 3
    background-color: #fff
    opacity: 0
    visibility: hidden
    transition: all ease .3s
    li
      display: block
      width: 100%
      & + li
        margin-top: 5px
      a
        font-family: $categories-font
        font-size: 15px
        line-height: 1
        color: $text
        transition: all ease .3s
        display: flex
        justify-content: flex-start
        align-items: flex-end
        padding: 5px
        border: none
        &:hover
          color: $accent
          background-color: transparent
          text-decoration: none
  &:hover
    .subcategories-dropdown-menu
      opacity: 1
      visibility: visible
