.stampik-product__product
  hr
    height: 1px
    background-color: #7f7f7f
    margin-top: 5px
  #content
    #product
      margin-bottom: 40px
    .thumbnails
      .thumbnail
        padding: 15px 0
        border: 3px solid $accent
        border-radius: 8px

.stampik-product__product
  .stampik-product__product_radio-option
    .stampik-product__product_radio-option_wrapper
      width: 100%
      display: flex
      justify-content: space-evenly
      flex-wrap: wrap
      .radio
        margin: 10px
        width: 150px
        label.option-label
          position: relative
          padding-left: 0
          input
            position: absolute
            z-index: -1
            opacity: 0
            margin: 3px 0 0 5px
            &:checked + .option-text::after
              opacity: 1
            &:focus + .option-text::before
              box-shadow: 0 0 0 3px rgba(84,169,164,.5)
          .option-text
            display: block
            position: relative
            padding: 0 0 0 30px
            cursor: pointer
            &::before
              content: ''
              position: absolute
              top: -2px
              left: 0
              width: 22px
              height: 22px
              border: 1px solid #7f7f7f
              border-radius: 50%
              background: #FFF
            &::after
              content: ''
              position: absolute
              top: 1px
              left: 3px
              width: 16px
              height: 16px
              border-radius: 50%
              background: $accent
              box-shadow: inset 0 0 3px 1px rgba(0,0,0,.5)
              opacity: 0
              transition: .2s
        label.option-label-with-img
          display: block
          position: relative
          padding-left: 0
          width: 150px
          cursor: pointer
          input
            position: absolute
            z-index: -1
            opacity: 0
            margin: 3px 0 0 5px
            &:checked + .img-wrapper
              border-color: $accent
              box-shadow: 0 0 4px 4px rgba(84,169,164,.5)
              .option-text-with-img
                color: $accent
          .img-wrapper
            display: block
            width: 100%
            border: 1px solid #7f7f7f
            border-radius: 8px
            padding: 2px
            transition: all ease .2s
            img
              display: block
              width: 100%
              height: auto
              border: none
              padding: 0
    .extended-img
      display: none
      img
        display: block
        width: 100%
        height: auto
      &.active
        display: block

.stampik-product__product_total-price
  .stampik-product__product_total-price_wrapper
    width: 100%
    display: flex
    justify-content: flex-start
    align-items: center
    h3
      margin-right: 20px
      font-family: $categories-font
    h2
      padding: 12px 10px
      border: 3px solid $accent
      border-radius: 4px

.stampik-product__product_bottom-table
  .form-group
    width: 100%
    display: flex
    justify-content: flex-start
    margin-bottom: 2px
    .control-label
      display: flex
      justify-content: center
      align-items: center
      flex: 1 0 50px
      max-width: 300px
      height: 50px
      padding: 5px 15px
      background-color: #e5e5e5
      font-family: $categories-font
      font-size: 14px
      text-align: center
      margin: 0 20px 0 0
      position: relative
      overflow: hidden
      &.control-label-file
        background-color: #7ad1cb
      &::before
        content: ''
        display: block
        width: 60px
        height: 30px
        background-color: #fff
        transform: rotate(58deg)
        position: absolute
        left: calc(100% - 22px)
        top: -4px
      &::after
        content: ''
        display: block
        width: 60px
        height: 30px
        background-color: #fff
        transform: rotate(-58deg)
        position: absolute
        left: calc(100% - 22px)
        bottom: -4px
    .button-wrapper
      display: block
      flex: 1 0 50px
      height: 50px
      position: relative
      overflow: hidden
      > div
        width: 100%
        height: 100%
        position: relative
        overflow: hidden
        border: 1px solid #ccc
        border-radius: 4px
        button
          display: block
          height: 100%
          width: 200px
          position: absolute
          right: 0
          top: 0
          z-index: 4
          outline: none !important
          border: none
          border-radius: 0
          background-color: #7ad1cb
          font-family: $categories-font
          img
            display: inline-block
            vertical-align: middle
            width: 36px
            height: auto
      &::before
        content: ''
        display: block
        width: 60px
        height: 30px
        background-color: #fff
        transform: rotate(58deg)
        position: absolute
        left: calc(100% - 22px)
        top: -4px
        border: 1px solid #ccc
        z-index: 5
      &::after
        content: ''
        display: block
        width: 60px
        height: 30px
        background-color: #fff
        transform: rotate(-58deg)
        position: absolute
        left: calc(100% - 22px)
        bottom: -4px
        border: 1px solid #ccc
        z-index: 5
    .input-wrapper
      display: block
      flex: 1 0 50px
      height: 50px
      outline: none
      position: relative
      overflow: hidden
      &::before
        content: ''
        display: block
        width: 60px
        height: 30px
        background-color: #fff
        transform: rotate(58deg)
        position: absolute
        left: calc(100% - 22px)
        top: -4px
        border: 1px solid #ccc
      &::after
        content: ''
        display: block
        width: 60px
        height: 30px
        background-color: #fff
        transform: rotate(-58deg)
        position: absolute
        left: calc(100% - 22px)
        bottom: -4px
        border: 1px solid #ccc
      input
        display: block
        width: 100%
        height: 100%
        border: 1px solid #ccc
        box-shadow: none

.stampik-product__product_input-quantity
  .form-group
    width: 100%
    display: flex
    justify-content: flex-start
    margin-bottom: 2px
    .control-label
      display: flex
      justify-content: center
      align-items: center
      flex: 1 0 50px
      max-width: 300px
      height: 50px
      padding: 5px 15px
      background-color: #7ad1cb
      font-family: $categories-font
      font-size: 14px
      text-align: center
      margin: 0 20px 0 0
      position: relative
      overflow: hidden
      &::before
        content: ''
        display: block
        width: 60px
        height: 30px
        background-color: #fff
        transform: rotate(58deg)
        position: absolute
        left: calc(100% - 22px)
        top: -4px
      &::after
        content: ''
        display: block
        width: 60px
        height: 30px
        background-color: #fff
        transform: rotate(-58deg)
        position: absolute
        left: calc(100% - 22px)
        bottom: -4px
    .input-wrapper
      display: block
      flex: 1 0 50px
      height: 50px
      outline: none
      position: relative
      overflow: hidden
      &::before
        content: ''
        display: block
        width: 60px
        height: 30px
        background-color: #fff
        transform: rotate(58deg)
        position: absolute
        left: calc(100% - 22px)
        top: -4px
        border: 1px solid #ccc
      &::after
        content: ''
        display: block
        width: 60px
        height: 30px
        background-color: #fff
        transform: rotate(-58deg)
        position: absolute
        left: calc(100% - 22px)
        bottom: -4px
        border: 1px solid #ccc
      input
        display: block
        width: 100%
        height: 100%
        border: 1px solid #ccc
        box-shadow: none

#button-cart
  margin-top: 40px
  background-color: $accent
  border: none
  transition: all ease .3s
  &:hover
    background-color: $darkAccent

.stampik-product__product_recommended
  width: 100%
  display: flex
  justify-content: space-evenly
  flex-wrap: wrap
  .stampik-product__product_recommended_item
    margin: 5px
    width: 190px
    height: 220px
    border: 3px solid $accent
    border-radius: 8px
    overflow: hidden
    .product-thumb
      width: 100%
      height: 100%
      position: relative
      z-index: 1
      .image
        border-radius: 8px
        background-color: #fff
        a
          display: flex
          justify-content: center
          align-items: center
          width: 100%
          height: 156px
          background-color: #fff
          text-decoration: none
          padding: 2px
          img
            display: block
            height: 100%
            width: auto
            max-width: 100%
        .price
          color: red
          text-align: center
          margin: 0
          font-size: 22px
          .price-old
            font-size: 18px
            color: #000
            text-decoration: line-through
      .button-wrapper
        width: 100%
        height: 40px
        background-color: #54a9a4
        position: absolute
        bottom: 0
        left: 0
        z-index: -1
        button
          width: 100%
          height: 26px
          background-color: #54a9a4
          color: #fff
          font-size: 24px
          font-family: $categories-font
          text-transform: uppercase
          text-align: center
          position: absolute
          bottom: 0
          left: 0
          z-index: 1
          margin: 0
          padding: 0
          letter-spacing: 2px
          border: none
          outline: none