.stampik-category
  #content
    .stampik-category__content
      border-radius: 20px
      border: 3px solid $accent
      .stampik-category__content_list
        width: 100%
        padding: 15px
        margin: 0
        display: flex
        justify-content: center
        flex-wrap: wrap
        li
          display: block
          width: 136px
          margin: 10px 15px 18px
          a
            display: block
            width: 100%
            position: relative
            img
              display: block
              width: 100%
              height: auto
            span
              position: absolute
              bottom: 5px
              left: 50%
              transform: translateX(-50%)
              font-size: 14px
              line-height: 1
              color: $text
              width: calc(100% - 10px)
              text-align: center

.stampik-product__list
  display: flex
  justify-content: space-evenly
  flex-wrap: wrap
  .stampik-product__list_item
    width: 190px
    height: 220px
    border-radius: 8px
    border: 3px solid $accent
    margin: 5px
    position: relative
    overflow: hidden
    a
      display: block
      width: 100%
      height: 100%
      text-decoration: none
      cursor: pointer
      &:hover
        text-decoration: none
      .item-wrapper
        display: block
        border-radius: 8px
        background-color: #fff
        .img-wrapper
          display: flex
          justify-content: center
          align-items: center
          width: 100%
          height: 156px
          background-color: #fff
          img
            display: block
            height: 100%
            width: auto
            max-width: 100%
        .price
          color: red
          text-align: center
          margin: 0
          font-size: 22px
          .price-old
            font-size: 18px
            color: #000
            text-decoration: line-through
      .add
        width: 100%
        height: 40px
        line-height: 60px
        background-color: $accent
        color: #fff
        font-size: 24px
        font-family: $categories-font
        text-transform: uppercase
        text-align: center
        position: absolute
        bottom: 0
        left: 0
        z-index: -1
        margin: 0
        letter-spacing: 2px

.stampik-category__description
  border: 3px solid $accent
  padding: 15px
  border-radius: 20px
  .stampik-category__description_images
    display: flex
    justify-content: center
    align-items: flex-start
    flex-wrap: wrap
    margin-bottom: 40px
    .stampik-category__description_images_item
      width: 136px
      margin: 10px 15px 18px
      .img-wrapper
        width: 100%
        position: relative
        &.with-background
          height: 136px
          border: 3px solid $accent
          border-radius: 8px
          background: center no-repeat
          background-size: auto 100%
        img
          display: block
          width: 100%
          height: auto
        p
          margin: 0
          position: absolute
          bottom: 8px
          left: 50%
          transform: translateX(-50%)
          font-size: 14px
          color: $text
          white-space: nowrap
  .stampik-category__description_order
    display: flex
    justify-content: center
    flex-wrap: wrap
    margin-bottom: 10px
    .left-part
      width: 136px
      margin: 0 25px 40px 0
      img
        display: block
        width: 100%
        height: auto
        margin-bottom: 15px
      a
        display: block
        width: 100%
        height: 32px
        line-height: 36px
        font-family: $categories-font
        font-size: 24px
        text-transform: uppercase
        text-decoration: none
        color: #fff
        text-align: center
        background-color: $red
        box-shadow: inset -2px -2px 5px 3px rgba(0,0,0,.4), inset 2px 2px 5px 3px rgba(255,255,255,.4)
        transition: all ease .3s
        &:hover
          box-shadow: inset -2px -2px 5px 3px rgba(255,255,255,.4), inset 2px 2px 5px 3px rgba(0,0,0,.4)
    .right-part
      flex: 1 0 220px
      max-width: 360px
      margin-bottom: 40px
      h3
        font-size: 22px
        margin: 0 0 15px
      ul
        margin: 0
        padding: 0
        li
          display: flex
          justify-content: flex-start
          align-items: center
          & + li
            margin-top: 10px
          .img-wrapper
            flex: 0 0 22px
            width: 22px
            height: 16px
            display: flex
            justify-content: center
            align-items: center
            margin-right: 8px
            img
              display: block
              height: 100%
              width: auto
              max-width: 100%
          p
            font-size: 14px
            line-height: 1.1
            margin: 0
  .stampik-category__description_text
    text-align: center
    p
      margin: 0














