@import "vars"
@import "fonts"

body
  background-color: #fff
  font-family: $default-font
  font-size: 16px
  line-height: 1.4
  color: $text
  position: relative

.accent_color
  color: $accent

a
  color: $accent
  transition: all ease .3s
  text-decoration: none
  &:hover
    color: $darkAccent
    text-decoration: none

.fixed-header
  position: fixed
  width: 100vw
  top: 0
  left: 0
  z-index: 100
  background-color: #fff

.fixed-header-back
  height: 138px

.top__header_wrapper
  width: 100%
  display: flex
  justify-content: flex-end

.top__header
  width: 100%
  max-width: 1255px
  display: flex
  justify-content: space-between
  align-items: center
  padding: 15px 0 8px

  .top__header_logo
    width: 210px
    margin-right: 68px
    img
      display: block
      width: 100%
      height: auto

  .top__header_menu
    flex-grow: 1
    display: flex
    justify-content: flex-start
    a
      line-height: 1
      display: block
      padding: 5px 0
      margin: 0 8px
      color: $text
      text-decoration: none
      transition: all ease .3s
      &:hover
        color: $accent
      img
        display: inline-block
        vertical-align: middle
        width: 22px
        height: auto
        margin-left: 23px

  .top__header_phones
    width: 290px
    margin: 0 0 0 20px
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    a
      font-size: 23px
      line-height: 1
      padding: 5px 0
      margin-top: 10px
      color: $text
      text-decoration: none
      transition: all ease .3s
      &:hover
        color: $accent

  .top__header_languages
    .dropdown-menu
      min-width: 50px
      border-color: $accent
      box-shadow: 0 0 10px 2px rgba(82,168,163,.4)


.headerMain_wrapper
  background-color: $accent2
  display: flex
  justify-content: center
  margin-bottom: 23px
  .headerMain
    flex-grow: 1
    max-width: 1140px
    display: flex
    justify-content: space-between
    .headerMain__catalog
      flex: 1 0 176px
      max-width: 250px
      background-color: $darkAccent
      padding: 5px
      display: flex
      justify-content: center
      align-items: center
      position: relative
      a.open-catalog
        color: #fff
        font-family: $catalog-font
        font-size: 26px
        line-height: 1
        text-transform: uppercase
        text-decoration: none
        letter-spacing: 1px
        margin-right: 20px
        i
          margin-right: 16px
      .catalog-dropdown-menu
        min-width: 100%
        display: flex
        justify-content: flex-start
        flex-wrap: wrap
        padding: 10px
        margin: 0
        border: 1px solid $accent
        border-radius: 4px
        box-shadow: 0 0 10px 2px rgba(82,168,163,.4)
        position: absolute
        left: 0
        top: 100%
        z-index: 2
        background-color: #fff
        opacity: 0
        visibility: hidden
        transition: all ease .3s
        li
          display: block
          width: 100%
          a
            font-family: $categories-font
            font-size: 15px
            line-height: 1
            color: $text
            transition: all ease .3s
            display: flex
            justify-content: flex-start
            align-items: flex-end
            padding: 5px
            border: none
            &:hover
              color: $accent
              background-color: transparent
              text-decoration: none
            .img-wrapper
              height: 26px
              width: 26px
              margin-right: 11px
              display: flex
              justify-content: center
              align-items: center
              img
                height: 100%
                width: auto
                max-width: 100%
        &.active
          opacity: 1
          visibility: visible

    .headerMain__search
      flex-grow: 1
      max-width: 810px
      position: relative
      padding: 6px 15px
      input
        display: block
        width: 100%
        height: 36px
        border-radius: 8px
        outline: none
        border: none
        background-color: #fff
        padding-right: 54px
        text-indent: 10px
      button
        height: 36px
        width: 41px
        position: absolute
        right: 15px
        top: 50%
        transform: translateY(-50%)
        border: none
        outline: none
        background-color: transparent
        padding: 0
        svg
          display: block
          width: 25px
          height: auto

    .headerMain__cart
      margin: 0 5px 0 20px
      .stampik-cart
        background-color: transparent
        >button
          border-radius: 0
          border: none
          background-color: transparent
          padding: 8px 9px 0 5px
          float: none
          box-shadow: none
          &:active
            outline: none
            border: none
            box-shadow: none
          svg
            display: block
            width: 34px
            height: auto
        .dropdown-menu
          border-color: $accent
          box-shadow: 0 0 10px 2px rgba(82,168,163,.4)
          width: calc(100vw - 40px)
          max-width: 600px
          padding: 10px
          table.table-striped>tbody>tr>td
            border: none
          a
            color: $text
            text-decoration: none
            transition: all ease .3s
            &:hover
              color: $accent
              text-decoration: none

.swiper-viewport
  box-shadow: none
  border: none

.white-popup
  position: relative
  background: #FFF
  padding: 20px
  width: auto
  max-width: 500px
  margin: 20px auto

.btn-primary
  border: none
  background-color: $accent
  outline: none !important
  transition: all ease .3s
  &:hover, &:active, &:focus
    background-color: $darkAccent

.btn-default
  color: $text
  background-color: #fff
  border-color: $accent
  outline: none !important
  transition: all ease .3s
  &:hover, &:active, &:focus
    background-color: $accent
    color: #fff
    border-color: $accent

.stampik__pagination
  margin-top: 40px

.disabled
  background-color: $accent !important
  border-color: $accent !important







@import "home"
@import "menu-categories"
@import "stampik-category"
@import "product"









@import "footer"


@import "media"
