<div class="list-group menu-categories">
  {% for category in categories %}
    {% if category.category_id == category_id %}
      <a href="{{ category.href }}" class="list-group-item active">
        <div class="img-wrapper">
          <img src="image/{{ category.image }}" alt="{{ category.name }}" />
        </div>
        {{ category.name }}
        <img src="catalog/view/theme/stampik/image/Arrow-down.svg" class="arrow-right" alt="arrow-down"/>
      </a>
    {% else %}
      <div class="category-wrapper">
        <a href="{{ category.href }}" class="list-group-item">
          <div class="img-wrapper">
            <img src="image/{{ category.image }}" alt="{{ category.name }}" />
          </div>
          {{ category.name }}
          <img src="catalog/view/theme/stampik/image/Arrow-down.svg" class="arrow-right" alt="arrow-down"/>
        </a>
        {% if category.children|length > 0 %}
          <ul class="subcategories-dropdown-menu">
            {% for child in category.children %}
              <li>
                <a href="{{ child.href }}">
                  {{ child.name }}
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    {% endif %}
  {% endfor %}
</div>
