<h3>{{ heading_title }}</h3>
<div class="stampik-special__product-list">
  {% for product in products %}
    <div class="stampik-special__product-list_product-item">

      <a href="{{ product.href }}">
        <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" />

        {% if product.price %}
          <p class="price">
            {% if not product.special %}
              {{ product.price }}
            {% else %}
              <span class="price-old">{{ product.price|trim('.') }}</span>
              <span class="price-new">{{ product.special|trim('.') }}</span>
            {% endif %}
          </p>
        {% endif %}

        <h4>{{ product.name }}</h4>
      </a>

    </div>
  {% endfor %}
</div>

